[submodule ".zsh/zinit"]
	path = .zsh/zinit
	url = https://github.com/zdharma-continuum/zinit.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/kitty/kitty-themes"]
	path = .config/kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes
