[submodule "vim-rails"]
	path = vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim-autoclose"]
	path = vim-autoclose
	url = git://github.com/Townk/vim-autoclose.git
[submodule "vim-cucumber"]
	path = vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "vim-surround"]
	path = vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "git-vimscript-installer"]
	path = git-vimscript-installer
	url = git://github.com/travisjeffery/git-vimscript-installer.git
[submodule "vim-ruby"]
	path = vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim-nerdtree"]
	path = vim-nerdtree
	url = git://github.com/scrooloose/nerdtree.git
