[user]
	name = Chris Moore
  email = cdmwebs@gmail.com
[color]
  status = auto
  diff = auto
  branch = auto
  ui = auto
[alias]
  ci = commit -a
  co = checkout
  st = status -s --ignore-submodules=dirty
  br = branch
  llog = log --date=local
  tree = log --graph --oneline --all
  slog = log --pretty=format:'%C(yellow)%h%Creset %Cgreen%an%Creset %ar %s'
  swog = log --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset'
[merge]
  tool = vimdiff
[core]
  excludesfile = /Users/cdmwebs/.gitignore
[apply]
	whitespace = nowarn
[diff]
  color = auto
  rename = copy
[pager]
  color = true
[status]
  color = auto
[github]
  user = cdmwebs
  token = a8092daca05034f9694eefcb252e9839
[push]
  default = current
[daemon]
  receivepack = true
