[user]
  name = Chris Moore
  email = cdmwebs@gmail.com
[color]
  status = auto
  diff = auto
  branch = auto
[alias]
  ci = commit -a
  co = checkout
  st = status -s
  br = branch
  llog = log --date=local
  tree = log --graph --oneline --all
[merge]
  tool = vimdiff
[core]
  excludesfile = /Users/chris/.gitignore
[apply]
  whitespace = strip
[diff]
  color = auto
  rename = copy
[pager]
  color = true
[status]
  color = auto
[github]
  user = cdmwebs
  token = a8092daca05034f9694eefcb252e9839
[push]
  default = current
