[user]
  name = Chris Moore
  email = cdmwebs@gmail.com
[color]
  status = auto
  diff = auto
  branch = auto
  ui = auto
[alias]
  ci = commit -a
  co = checkout
  st = status -s --ignore-submodules=dirty
  br = branch
  llog = log --date=local
  tree = log --graph --oneline --all
  slog = log --pretty=format:'%C(yellow)%h%Creset %Cgreen%an%Creset %ar %s'
  swog = log --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset'
  pend = cherry -v origin/master
  us   = cherry -v origin/staging
  new  = cherry -v staging origin/staging
  r = !git l -20
  ra = !git r --all
  l = log --graph --abbrev-commit --date=relative
  ll = log --stat --abbrev-commit
  standup = log --since yesterday --oneline --author Chris
[format]
  pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
[merge]
  tool = vimdiff
  log = true
[core]
  excludesfile = ~/.gitignore
  quotepath = false
	pager = less -FRX
[apply]
  whitespace = nowarn
[diff]
  color = auto
  rename = copy
[pager]
  color = true
[status]
  color = auto
[push]
  default = current
[init]
  templatedir = ~/.git_template
[credential]
	helper = cache

